.full-width{

    width: 100%;
    margin-bottom: 10px;
    
    
}

.button-container{

    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
}

.my-button{

    margin-right: 20px;
}

.half-width1{

    width: 100%;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;

}

.half-width2{

    width: 100%;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;

}