<mat-card>

    <mat-action-list>
        <div mat-subheader>Menu</div>

        <button mat-list-item class="button-align" routerLink ="/user-dashboard">
            <mat-icon mat-list-icon>home</mat-icon> 
            <span class="button-text">Home</span>
        </button>

        <button mat-list-item class="button-align" routerLink ="/user-dashboard/profile">

            
            <mat-icon mat-list-icon>account_circle</mat-icon> 
            <span class="button-text">Profile</span>
        </button>

    </mat-action-list>

</mat-card>
