.button-text{
    margin-left: 10px;
    line-height: 40px;
    vertical-align: middle;
}

mat-icon {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    
}

.block-span{
    display: block;
}

.icon-and-text{

    display: flex;
    align-items: center;
}

.button-container{

    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
}

.my-button{

    margin-right: 20px;
}